button.btn-default {
    border: 2px outset black;
    border-radius: 0;
    background-color: #996633;
}

button.btn-primary{
    border: 2px outset black;
    border-radius: 0;
    background-color: white;
    color: black;
    /* margin-top: 10px; */
    margin: 10px;
    box-shadow: 5px 5px;
}

h3{
    text-align: center;
}

#moneyInput{
    text-align: center;
}

#messagesForm{
    text-align: center;
}

#changeForm{
    text-align: center;
}

/* h1{
    background-color: aqua;
} */

/* .tableWrap{
    display:inline-block;
} */